/* #no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

.no-mobile__text {
  display: block;
  color: aliceblue;
  font-size: 20px;
  padding-bottom: 100px;
  justify-content: center;
}
.no-mobile__columns .fa-comment {
  display: block;
  font-size: 400px;
  color: #3b1e1f;
  justify-content: center;
  position: relative;
}

@keyframes hidenSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
} */
