#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

.no-mobile__columns {
  background-color: #3b1e1f;
  border-radius: 15%;
  display: block;
  align-items: center;
  align-content: center;
  color: aliceblue;
  opacity: 0.99;
  padding: 60px;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
